// main colors for the web platform
// $primary: #00c448;
$header-color:#00A49B;
$bg-color: #048c851f;
$bg-colors: #F5F6F6;
$btn-sample: linear-gradient(180deg, #69938F 0%, #4C847B 100%);
$primary: #4C847B;
$primary-light: #69938F;
$gray: #f2f2f2;
$secondary: #1d51a6;
$secondary-light: #d4e3fc;
$black: #000;
$text: #000;
$text-light: #9499aa;
$white: #fff;
$red: #eb5757;
$light-red: #ffe3e56e;
$sidebar-width-on-large: 300px;
$header-height-for-large: 70px;
$border-radius: 5px;
$border-color:  #B0BDBC;
$focus-color:#F39304;
$input-bg:#F5F6F6;
